* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.container {
    background-color: #aadaeb;
    text-align: center;
    padding: 20px 20rem;
}

.row {
    background-color: rgb(255 189 92);
    border: 2px dashed black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 
.column-1 {
    flex: 1;
    text-align: start;
    border-right: 3.5px dashed black;
    padding: 10px;
}

.column-2 {
    flex: 2; 
    text-align: center;
    border-right: 3.5px dashed black;
    padding: 10px;
}

.column-3{
    flex: 1;
    text-align: end;
    padding: 10px;
}

/* Main Debug*/

.debug .first_section{
    background-color: #040ca2;
    height: 240px;
    padding: 2rem 27rem;
    
}

.debug .container1_main{
    background-color: #d170d5;
    height: 100%;
    border: 2px dashed black;

}
.debug .container2_main{
    background-color: white;
    display: flex;
    height: 300px;
    padding: 2rem 20rem;


}

.debug .item1{
    flex: 1.5;
    height: 100%;
    background-color: #42a0fff7;
    border: 2px dashed black;

}

.debug .item2{
    flex: 1;
    height: 100%;
    background-color: #ffc3ce;
    border: 2px dashed black;

}

.debug .container3_main{
    background-color: #8080804f;
    display: flex;
    height: 300px;
    padding: 2rem 20rem;


}

/* Main */
.first_section{}

.container1_main{}

.second_section{}

.container2_main{}

.item1{}

.item2{}

.third_section{}

.container3_main{}

.fourth_section{}